<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Food page</title>
</head>
<body>


    <div class="container">
            <form th:action="@{/admin/foodpage}" method="post" th:object="${food}">
                <!--<div class="alert alert-warning" role="alert">-->
                    <!--This is a warning alert—check it out!-->
                <!--</div>-->

                <div class="alert alert-success" role="alert"
                     th:if="${successMessage}!=null" th:text="${successMessage}">
                </div>

                <table>
                    <tr>
                        <th>Name</th>
                        <th>Calories</th>
                        <th>Proteins</th>
                        <th>Fats</th>
                        <th>Starches</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" th:field="${food.name}" th:placeholder="'Food name'">
                            <label th:if="${#fields.hasErrors('name')}" th:errors="${food.name}" class="validation-message"></label>
                        </td>
                        <td>
                            <input th:field="${food.cal}" th:placeholder="Calories">
                            <label th:if="${#fields.hasErrors('cal')}" th:errors="${food.cal}" class="validation-message"></label>
                        </td>
                        <td>
                            <input th:field="${food.protein}" th:placeholder="Proteins">
                            <label th:if="${#fields.hasErrors('protein')}" th:errors="${food.protein}" class="validation-message"></label>
                        </td>
                        <td>
                            <input th:field="${food.fats}" th:placeholder="Fats">
                            <label th:if="${#fields.hasErrors('fats')}" th:errors="${food.fats}" class="validation-message"></label>
                        </td>
                        <td>
                            <input th:field="${food.starches}" th:placeholder="Startches">
                            <label th:if="${#fields.hasErrors('starches')}" th:errors="${food.starches}" class="validation-message"></label>
                        </td>
                        <td>
                            <button type="submit">Save</button>
                        </td>
                    </tr>
                </table>
            </form>

    </div>

    <div class="container" th:if="${foodList!=null}">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Calories</th>
                <th>Proteins</th>
                <th>Fats</th>
                <th>Starches</th>
            </tr>
            <tr th:each="food : ${foodList}">
                <td th:text="${food.name}"></td>
                <td th:text="${food.cal}"></td>
                <td th:text="${food.protein}"></td>
                <td th:text="${food.fats}"></td>
                <td th:text="${food.starches}"></td>
            </tr>
        </table>
    </div>

</body>
</html>