<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Admin's page</title>
</head>
<body>

    <!--<p th:text="'Login as '+${adminName}"></p>-->

    <div class="container">
        <form th:action="@{/admin/userList}" method="get">
            <button class="btn btn-primary" type="submit">Get list of users</button>
        </form>
        <form th:action="@{/admin/foodpage}" method="get">
            <button class="btn btn-primary">Go to the food page</button>
        </form>
    </div>









</body>
</html>