<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Hello</title>
</head>
<body>

    <h1>Unsecured hello page</h1>



    <div class="container">
        <table class="table">
            <tr>
                <td>
                    <form th:action="@{/login}" method="get">
                        <button type="submit" class="btn btn-primary" th:text="Login"></button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form th:action="@{/registration}" method="get">
                        <button type="submit" class="btn btn-primary" th:text="Registration"></button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form th:action="@{/user}" method="get">
                        <button type="submit" class="btn btn-primary" th:text="'User page'"></button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>