<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
    <form th:action="@{/registration}" method="get">
        <button type="submit">Registration page</button>
    </form>


    <form th:action="@{/login}" method="post">
        <input id="email" type="text" name="email" th:placeholder="Email"/>
        <input id="password" type="text" name="password" th:placeholder="Password"/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>

        <button type="submit" value="Login" name="Submit" th:text="Login"></button>

    </form>
</body>
</html>