<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Registration</title>
</head>
<body>

    <form th:action="@{/}" method="get">
        <button type="submit">Login page</button>
    </form>

    <form autocomplete="off" th:action="@{/registration}" method="post" th:object="${user}">
        <h2>Registration</h2>
        <div>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message" ></label>
            <input type="text" th:field="*{name}" th:placeholder="Name"/>
        </div>

        <div>
            <input type="text" th:field="*{email}" th:placeholder="Email"/>
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message "></label>
        </div>

        <div>
            <input type="password" th:field="*{password}" th:placeholder="Password"/>
            <lable th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></lable>
        </div>

        <button type="submit">Register</button>






    </form>


</body>
</html>